@import "tailwindcss";

/* =========================
   THEME VARIABLES
========================= */
:root {
  /* Primary Green */
  --color-primary: #22C55E;
  --color-primary-hover: #16A34A;
  --color-primary-soft: #DCFCE7;

  /* Background */
  --color-bg-page: #F8FAFC;
  --color-bg-sidebar: #F0FDF4;
  --color-bg-card: #FFFFFF;

  /* Text */
  --color-text-primary: #0F172A;
  --color-text-secondary: #475569;
  --color-text-muted: #94A3B8;

  /* Border */
  --color-border: #E2E8F0;

  /* Status */
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-info: #3B82F6;

  /* Radius */
  --radius-card: 5px;
}

/* =========================
   BASE STYLE
========================= */
body {
  @apply bg-(--color-bg-page) text-(--color-text-primary) antialiased;
  font-family: "Inter", sans-serif;
}